body {
    background-color: #EFF1F3;
    text-align: center;
    margin-right: 200px;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color:black;
    text-align: right;
    
  }

  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
    text-align: right;
    margin-top: 100px;
   
  }

  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    text-align: center;
    margin-left: 50%;
    
  }

  .right{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:azure;
    text-align: right;
    
  }

