body{
background-color: #222;;
color: white;
}

p#yellowParagraph {
    color: greenyellow;
    font-family: "Comic Sans MS";
    font-size: 10px;
  }

h1{
color:green; 
font-size: 30px; 
background-color:aliceblue; 
margin: 0; 
padding: 10px; 
text-align: center;

}

rect.square {
width:100px;
height:100px;
}