body {
    margin: 0;
    font-family: "Comic Sans MS";
  }
  
 #banner {
     background-color: #00cc00;
     background-image: url("https://cdn2.thecatapi.com/images/lDj9W-AmU.jpg");
     background-position: 50% 100%;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 20vh, 20px; 
     text-align: center;
 }
 .section {
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 1px solid red;
    flex: 2;
    height: 300px;
    margin: 20px;
  }

  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }

  #tooltip {
      background-color: aqua;
      border: 1px solid red;
    display: none;
    position: absolute;
  }