body {
    background-color: lightblue;
    text-align: center;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color:azure;
  }

  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color:azure;
  }


  table, th, td {
    border: 1px solid grey;
  }

  table.center {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    margin-left: 200px; 
    margin-right: 200px;
    padding:10px;
  }

