body {
    margin: 0;
    background-color: lightblue;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

#banner {
    background-image: url("./headerimg.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    padding: 32vh 30px;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 20px;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
   
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
h1 {
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
    color:white;
}

.section1 {
    text-align: left;
    margin-left: 320px;
    margin-right: 400px;
}
.section{
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.section p {
    flex: 1;

}

.section svg {
    flex: 2;
    border: 1px solid white;
    height: 300px;
    margin: 25px;
}

.hey{
    font-size: 15px;
    color:azure;
    padding: 3vh 200px;
}

@media (max-width: 600px) {
    .section{
        flex-direction: column;
    }
    .section svg {
        flex: none;
    }
}

